<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	<context:component-scan base-package="com.ttjkst.action"></context:component-scan>
	<bean id="InternalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="suffix" value=".jsp"></property>
		<property name="prefix" value="/jsp/"></property>
</bean>
	<mvc:default-servlet-handler/>
	<mvc:annotation-driven conversion-service="conversionServiceFactoryBean" > </mvc:annotation-driven>
<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
   <property name="objectMapper">
     <bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean"
       p:autoDetectFields="true"
       p:autoDetectGettersSetters="true"/>
   </property>
 </bean>
 <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
				
			</list>
		</property>
	</bean>
	<bean  id="conversionServiceFactoryBean" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="com.ttjkst.action.converter.String2Word"></bean>
			</set>
		</property>
	
	</bean>
<bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

    <!-- one of the properties available; the maximum file size in bytes -->
    <property name="maxUploadSize" value="1000000000"/>

</bean>
<!--  	
	 <bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
		<property name="supportedMediaTypes">
			  <bean class="org.springframework.http.MediaType">  
                <constructor-arg value="text" />  
                <constructor-arg value="plain" />  
                <constructor-arg value="UTF-8" />  
            </bean> 
		</property>
	</bean>
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html; charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
				
			</list>
		</property>
	</bean>-->
	
	  <!--<mvc:interceptors>
	  <mvc:interceptor>
			<mvc:mapping path="/controlMore/**"/>
			<bean class="com.ttjkst.web.interceptors.InterceptorForPermission"></bean>
			
		</mvc:interceptor>
		<mvc:interceptor>
		
			<mvc:mapping path="/readMoreAndControl"/>
			<bean class="com.ttjkst.web.interceptors.InterceptorForPermission"></bean>
			
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/delete"/>
			<bean class="com.ttjkst.web.interceptors.InterceptorForPermission"></bean>
			
		</mvc:interceptor>
	</mvc:interceptors>-->
	
</beans>
